.all-games-section {
    padding: 40px;
    background-color: #d9d9d9;
}

.all-games-section h2 {
    margin-bottom: 20px;
    text-align: center;
    color: black;
}

.all-games {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.game-card {
    background-color: white;
    border-radius: 15px;
    height: 300px;
    
    overflow: hidden;
    color: black;
    cursor: pointer;
    
}

.game-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}

.game-info {
    display: block;
    padding: 15px;
    min-height: 80px;
}

.game-info strong {
    font-size: 11px;
    color: #D6006A;
}

.game-info h3 {
    font-size: 16px;
    margin: 5px 0;
}

.game-info p {
    font-size: 12px;
    margin: 0;
}

#no-games {
    display: none;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}

.pagination button {
    border: none;
    background: none;
    color: #D6006A;
    cursor: pointer;
}