/* =========================
   ESTILO GENERAL DE BOTONES
   ========================= */

.primary,
.secondary,
.accent,
.google-button {
    height: 42px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    transition: transform 0.3s ease;
    
}

.primary {
    background-color: #D6006A;
    color: white;
}

.primary:hover {
    background-color: #FFB3D9;
    transform: translateY(-5px);
}

.secondary {
    background-color: #06D606;
    color: #1D471D;
}

.secondary:hover {
    background-color: #B3FFB3;
    transform: translateY(-5px);
}

.accent {
    background-color: #FFD600;
    color: #121212;
}

.accent:hover {
    background-color: #FFE347;
    transform: translateY(-5px);
}

.google-button {
    background-color: white;
    color: black;
    text-decoration: none;
}

.google-button a{
    color:black;
    text-decoration: none;
}

.google-button img {
    width: 20px;
    height: 20px;
}


.pulse{
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.10);
    }

    100% {
        transform: scale(1);
    }
}


.descubre-juegos {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.descubre-juegos::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: #06D606;
    transition: left 0.3s ease;
}

