/* =========================
   ESTILO GENERAL DE BOTONES
   ========================= */

.primary,
.secondary,
.accent,
.google-button {
    height: 42px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 900;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.primary {
    background-color: #D6006A;
    color: white;
}

.primary:hover {
    background-color: #FFB3D9;
}

.secondary {
    background-color: #06D606;
    color: #1D471D;
}

.secondary:hover {
    background-color: #B3FFB3;
}

.accent {
    background-color: #FFD600;
    color: #121212;
}

.accent:hover {
    background-color: #FFE347;
}

.google-button {
    background-color: white;
    color: black;
    text-decoration: none;
}

.google-button a{
    color:black;
    text-decoration: none;
}

.google-button img {
    width: 20px;
    height: 20px;
}

.primary.playnow-btn {
    position: relative;
    overflow: hidden;
    background-color: #D6006A;
    box-shadow:
        0 4px 10px rgba(163, 33, 98, 0.35);

    transition:
        transform 0.25s ease,
        box-shadow 0.25s ease,
        background-color 0.25s ease,
        border-color 0.25s ease;
}

.primary.playnow-btn::before {
    content: "";

    position: absolute;

    top: 0;
    left: -120%;

    width: 70%;
    height: 100%;

    background: linear-gradient(
        120deg,
        transparent,
        rgba(255, 179, 217, 0.8),
        transparent
    );

    transform: skewX(-20deg);
    transition: left 0.5s ease;
}


/* Hover */

.primary.playnow-btn:hover {

    background-color: #F055A2;

    border-color: #FFB3D9;

    transform: translateY(-3px) scale(1.01);

    box-shadow:
        0 8px 18px rgba(163, 33, 98, 0.45),
        0 0 20px rgba(255, 128, 190, 0.45);
}

.primary.playnow-btn:hover::before {
    left: 150%;
}