.nav-user {
    height: 80px;
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #000000;
}

.nav-user .nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-user .nav-logo img:first-child {
    width: 45px;
}

.nav-user .nav-logo img:last-child {
    width: 120px;
}

.nav-user .nav-links {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-user a {
    color: white;
    font-size: 14px;
}

.nav-user input {
    width: 120px;
    height: 25px;
    padding: 0 10px;
    border: none;
    border-radius: 15px;
}

.menu-button,
.user-button {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.user-button {
    width: 38px;
    height: 38px;
    border: 2px solid #06D606;
    border-radius: 50%;
}
