@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');
.plans {
    background-color: #c7c4c4;
    text-align: center;
    padding: 20px 0;
}

.plans h2 {
    font-size: 26px;
    margin-bottom: 22px;
}

.plans-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.plan-card {
    background-color: white;

    width: 210px;
    height: 320px;

    padding: 18px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 0 3px 4px #999;
}

.plan-card h3 {
    font-size: 20px;
    margin: 0;
}

.plan-card p {
    margin: 3px 0;
}


.plan-card.pro {
    height: 345px;
    border: 2px solid #FFD600;
}